@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  height: 10svh;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}

.logo {
  width: 50px;
  height: auto;
  object-fit: contain;
}

.main-nav ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.link {
  cursor: pointer;
}

.introduction {
  height: 90svh;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text {
  border-right: .15rem solid black;
  overflow-x: hidden;
  letter-spacing: .15rem;
  animation: 
    typing 3s steps(42, end),
    blink-caret 1s step-end infinite 3s;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from {
    border-color: transparent;
  }  

  50% {
    border-color: black;
  }

  to {
    border-color: transparent;
  }
}

.go-down {
  position: absolute;
  bottom: 0;
  right: 50%;
  animation: slide 1.2s ease-in-out infinite alternate;
}

@keyframes slide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50%);
  }
}

:root {
  --background-color: #18779c;
}

section {
  padding: 1rem;
}

h2 {
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 2rem;
}

.box-shadow {
  box-shadow: 2px 2px 8px black;
}

.about-me {
  padding-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.style-wrapper {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--background-color);
  transform: skewY(-15deg) translateY(-70%);
}

.image-container {
  max-width: 300px;
  position: relative;
}

.image-container img {
  width: 100%;
  object-fit: cover;
  filter: brightness(90%);
}

.image-container h1 {
  padding: .5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 3.2rem;
  text-shadow: 4px 4px 20px black;
}

.description-container {
  max-width: 500px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

a .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: auto;
}

.my-battles {
  max-width: 1000px;
  margin: 0 auto;
}

.battles-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1.5rem;
}

.battle-image{
  width: 100%;
  object-fit: cover;
}

.battle-description {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.battle-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.battle-title-container .icons-container {
  gap: .1rem;
}

.battle-description p {
  font-size: .8rem;
  line-height: normal;
}

.contact {
  padding: 0;
  background-color: var(--background-color);
}

.contact-info {
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.contact-info h2 {
  padding: 0;
  margin-bottom: 1rem;
}

.contact-phone,
.contact-email {
  display: flex;
  gap: .25rem;
}

.photo-container {
  max-width: 500px;
  height: auto;
}

.contact-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}